/*https://www.w3schools.com/csS/css_font_google.asp*/
/* https://www.w3schools.com/csS/css_text.asp */
/*https://www.geeksforgeeks.org/how-to-include-a-font-ttf-using-css/ */
@font-face {
    font-family: SourceCodePro;
    src: url(../fonts/SourceCodePro-VariableFont_wght.ttf);
}

/*https://www.w3docs.com/snippets/css/how-to-apply-global-font-to-the-entire-html-document.html*/
html * {
    font-family: SourceCodePro;
    /*color: white;*/
}

/* https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
#vhs { 
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1; /*https://stackoverflow.com/a/25043943*/
}


.content {
    color: #ffffff;
    padding: 25%;
    padding-top: 0;
  }

  [id^="cv-table-"] {
    table-layout: auto;
    width: 100%;
    & th {
        text-align: left;
        width: 70%;
    }
    & ul {
        margin-top: 0; /*https://stackoverflow.com/a/3870801*/
        max-width: 80%;
    }
    & [id^="cv-time-"] & [id^="cv-location-"] {
        text-align: right;
    }
    & ul {
        padding-left: 15px;
    }
  }

  /*https://www.geeksforgeeks.org/how-to-center-a-video-in-html/*/
  #video-showcase-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    margin-left: -10%;
    }
  #video-showcase-vertical {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120%;
    margin-left: -10%;
    height: 800px;
    }
  #image-horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120%;
        margin-left: -10%;
    }

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media only screen and (max-width: 600px) {
    .content {
        padding: 5%;
    }
}

