#nlist section ul>li {
    list-style-type: none;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom:10px;
}
#nlist section ul li ol {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

#nlist section p {
    margin-left: 3%;
    margin-top: 10px;
}

#nlist section section h4 {
    margin-bottom: 0;
}