/*https://www.w3schools.com/csS/css_font_google.asp*/
/* https://www.w3schools.com/csS/css_text.asp */
/*https://www.geeksforgeeks.org/how-to-include-a-font-ttf-using-css/ */
@font-face {
    font-family: SourceCodePro;
    /*This is a subset version of Source Code Pro to reduce the carbon footprint*/
    src: url(../fonts/SourceCodePro-Regular-subset.ttf);
}
code {
    background-color: #2d2d2d;
    color: #dbdbdb;
    padding-left: 3px;
    padding-right: 3px;
}
/*https://www.w3docs.com/snippets/css/how-to-apply-global-font-to-the-entire-html-document.html*/
html * {
    font-family: SourceCodePro, 'Courier', monospace;
}
h1,h2 {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

/* https://www.w3schools.com/howto/howto_css_fullscreen_video.asp */
#vhs {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    /*https://stackoverflow.com/a/25043943*/
}


.content {
    color: #ffffff;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    /*text-shadow: 5px 5px 10px color-mix(in srgb, pink 50%, turquoise 50%);*/
}


/*https://www.geeksforgeeks.org/how-to-center-a-video-in-html/*/
#video-showcase-horizontal,
img {
    max-width: 120%;
    margin: 0 -10%;
    /* https://www.freecodecamp.org/news/how-to-center-an-image-in-css/ */
    display: block;
}

#video-showcase-vertical {
    max-height: 80vh;
    max-width: 50vw;
    display: block;
    margin: 0 auto;
}


/* https://www.w3schools.com/css/css_link.asp */
a:link {
    color: turquoise;
}
a:visited {
    color: hotpink;
}
a:hover {
    color: hotpink;
}
a:active {
    color: grey;
}


header, footer {
    text-align: center;
}

header nav ul li, footer nav ul li {
    display: inline-block;
    margin: 5px 15px;
}

dl dt {
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 1.1em;
    font-weight:600;
}

header::after,
footer:before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(133, 133, 133); 
    margin-top: 20px;
}
h2::before {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(133, 133, 133, 0.5); 
    margin-bottom: 20px;
}


/*Lists*/
#nlist section ul>li {
    list-style-type: none;
    margin-left: 0;
    margin-top: 10px;
    margin-bottom:10px;
}
#nlist section ul li ol {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px;
}

#nlist section p {
    margin-left: 3%;
    margin-top: 10px;
}

#nlist section section h4 {
    margin-bottom: 0;
}

/*Resume*/
/*https://www.w3schools.com/cssref/pr_tab_table-layout.php*/
.cv-table {
    table-layout: auto;
    width: 100%;
}

.cv-table th {
    text-align: left;
    width: 70%;
    font-weight: 1000;
    font-size: 1.1em;
}

.cv-table ul {
    margin-top: 0;
    /*https://stackoverflow.com/a/3870801*/
    max-width: 80%;
    padding-left: 15px;
}

.cv-time,
.cv-location {
    text-align: right;
}

/*TODO: Ask if media Queries are allowd*/
@media screen and (max-width: 600px) {
    .content {
        max-width: 80%;
    }    
}
