body {
    background-color: #DDDDDD;
    padding: 5% 20%;
    background-image: url(assets/pattern.png);
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

h1 {
    background-image: url(assets/grass.png);
    background-size: 100% 36px;
}

.plant-box h2 {
    text-align: right;
}

.plant-box img {
    margin: 0 auto;
    max-width: 100%;
    display: none;

}
.plant-box p {
    text-align: center;
}

.plant-box {
    box-shadow: 5px 5px 5px 4px #777777;
    padding: 5%;
    margin-bottom: 20px;
    background-image: linear-gradient(#F7FFF5, #C2E7CD);
}

.plant-box:hover {
    box-shadow: 10px 10px 5px 2px #af9e9e;
    background-image: linear-gradient(#f1ebeb, #e1cfcf);
}
.plant-box:hover img {
    display: block;
}

.plant-box:hover p {
    display: none;
}

.plant-box:hover h2 {
    text-align: center;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}